# Supabase Configuration
VITE_SUPABASE_URL=https://tyxaekjpharyifrflxbt.supabase.co/auth/v1/callback
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5eGFla2pwaGFyeWlmcmZseGJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxOTc2NTIsImV4cCI6MjA4OTc3MzY1Mn0._yUJkM4cFvPB5xiGNAnKQtwcyziZiR_Yd9phYHn_CrA
